<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">View Service Agent</p>
        </div>
    </div>
</div>


<!-- Contact details -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img src="https://tse1.mm.bing.net/th?id=OIP.PqBYGErQeWQWhbA_VeUBDQHaHa&pid=Api&P=0&w=165&h=165" class="contact-img-big" alt=" ">
        </div>
        <div class="col-sm-6 ">
            <ul class="list-group list">
                <li class="list-group-item list-group-item-danger">Name :
                    <span class="fw-bold">Name</span></li>
                <li class="list-group-item list-group-item-danger">Email :
                    <span class="fw-bold">Email</span></li>
                <li class="list-group-item list-group-item-danger">Mobile :
                    <span class="fw-bold">Mobile</span></li>
                <li class="list-group-item list-group-item-danger">Id :
                    <span class="fw-bold">Id</span></li>

            </ul>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a routerLink="/" class="btn btn-danger">
                <i class="fa fa-arrow-alt-circle-left"></i> Back
            </a>
        </div>
    </div>
</div>