<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Customer</p>
            <!-- <p class="fst-italic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was</p> -->
        </div>
    </div>
</div>

<!-- form -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>

                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile Number">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Product Id">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Product Type">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Compliant">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Invoice URL">
                </div>

                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select item</option>
                        <option value="">Wired</option>
                        <option value="">Wireless</option>

                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Create" type="submit">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://tse1.mm.bing.net/th?id=OIP.ZRUY-9UHpnEUu3_8Kaub6QHaF7&pid=Api&P=0&w=197&h=158" class="contact-img" alt=" ">
        </div>
    </div>
</div>